// Variables for easier customization
$primary-color: #f5ba13;
$secondary-color: #fff;
$highlight-color: #deff09;
$text-color: #1f2937;
$box-shadow-light: 0 2px 5px #ccc;
$box-shadow-dark: 0 0 10px rgba(0, 0, 0, 0.3);
$font-main: "Montserrat", sans-serif;
$font-cursive: "McLaren", cursive;

  // Button Styling for Recording Controls
  $button-color-start: #ef4444;  // red
  $button-color-stop: #6b7280;// gray
  $button-color-refresh:lightgreen;
  $button-hover-start: #dc2626;  // hover red
  $button-hover-stop: #4b5563;   // hover gray
  $button-hover-refresh: green;  // hover 
  
  $button-size: 50px;